.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background-color: #007bff;
  --button-text-color: #ffffff;
}

.dark-mode {
  --background-color: #1e1e1e;
  --text-color: #f1f1f1;
  --button-background-color: #444444;
  --button-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}