body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress-bar {
  border: 1px solid lightgrey;
  height: 10px; 
  margin-top: 3px;
  width: 100%;
}

.filled{
  background-color: lightblue;
  height: 100%;
  /* Using css transition approach
  /* transition: width 2s ease-in-out; */
  width:0
}

/* Using css transtition way
/* .filled.animate {
  width: 100%;
} */

.filled{
  background-color: lightblue;
  height: 100%;
} 

